kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: "{{ tenant_egress_name }}"
  namespace: "{{ egress_namespace_name }}"
spec:
  podSelector: {}
  ingress:
    - from:
        - podSelector: {}
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: "{{ tenant_namespace_name }}"
  policyTypes:
    - Ingress
