{
    "apiVersion": "v1",
    "kind": "LimitRange",
    "metadata": {
        "name": "{{ item.project_name  }}-limits",
        "namespace": "{{ item.project_name  }}"
    },
    "spec": {
        "limits": [
            {
                "default": {
                    "cpu": "{{ item.container_default_cpu }}",
                    "memory": "{{ item.container_default_memory }}"
                },
                "defaultRequest": {
                    "cpu": "{{ item.container_defaultRequest_cpu }}",
                    "memory": "{{ item.container_defaultRequest_memory }}"
                },
                "max": {
                    "memory": "{{ item.container_max_memory }}"
                },
                "min": {
                    "memory": "{{ item.container_min_memory }}"
                },
                "type": "Container"
            },
            {
                "max": {
                    "cpu": "{{ item.pod_max_cpu }}",
                    "memory": "{{ item.pod_max_memory }}"
                },
                "min": {
                    "cpu": "{{ item.pod_min_cpu }}",
                    "memory": "{{ item.pod_min_memory }}"
                },
                "type": "Pod"
            }
        ]
    }
}
