kind: ConfigMap
apiVersion: v1
metadata:
  name: ldap-group-sync-whitelist
  namespace: openshift-authentication
data:
  ldap-group-sync-whitelist.txt: |
      {% for actions in item.actions %}
      {% if loop.index > 1%},{% endif %}"{{actions}}"
      {% endfor %}
      CN={{ item.adgroups }},OU=Groups,OU=.Common,OU=IR,DC=corp,DC={{ item.domain }}
