apiVersion: v1
kind: Secret
metadata:
  name: alm-secret
  namespace: openshift-logging
type: Opaque
data:
  ca-bundle.crt: {{alm.alm_ca_bundle_cert}}
  username: {{alm_username}}
  password: {{alm_password}}
