apiVersion: v1
kind: Service
metadata:
  name: egress-router
  namespace: ocp-egress
  labels:
    app: egress
spec:
  ports:
{{ egress_service_ports | indent( width=2, indentfirst=True) }}
  selector:
    egress: egress-routers
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
