apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - name: ldapidp
    mappingMethod: claim
    type: LDAP
    ldap:
      attributes:
        id:
        - sAMAccountName
        email:
        - EmailAddress
        name:
        - cn
        preferredUsername:
        - sAMAccountName
      bindDN: {{ bindDN | quote}}
      bindPassword:
        name: ldap-secret
      ca:
        name: ca-config-map
      insecure: false
      url: {{ ldap_url | quote }}
