[registries.search]
registries = ['{{ registry_fqdn }}', 'registry.access.redhat.com', 'registry.redhat.io', 'docker.io']
[registries.insecure]
registries = ["{{ registry_fqdn }}"]
[registries.block]
registries = []

