apiVersion: v1
items:
{% for vars in ocp.operators %}
- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: {{vars.name}} 
    namespace: {{vars.namespace}}
  spec:
    channel: {{vars.channel}}
    installPlanApproval: Automatic
    name: {{vars.name}}
    source: itergo-redhat-operator-index 
    sourceNamespace: openshift-marketplace
{% endfor %}

kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
